
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/c588c05c19.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="webpage">
        <div class="header">
            <div class="logo">
                <img class="logo1" src="/logo 1.png" alt="">
            </div>
            <div class="searchbox">
                <div class="search"></div>
                <p>Type Something</p>
            </div>
            <div class="navbar">
                <div class="navbar1">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Browser</a></li>
                        <li><a href="#">Detail</a></li>
                        <li><a href="#">Stream</a></li>
                    </ul>
                    </div>
                    <div class="profile">
                        <div class="pl">
                            <p> profile</p>
                        </div> 
                        <div class="pr"></div>
                    </div>
                </div>
            </div>
            <div class="divions">
                <div class="div1">
                    <div class="content">
                        <h2>Welcome To Cyborg</h2>
                        <h3><span>BROWSE</span>OUR</h3> 
                        <h4> POPULAR GAMES HERE</h4>
                        <a href=".//summa.html"> Browse Now</a>
                    </div>
                </div>
                <div class="div2">
                    <div class="title">
                        <div class="title1">
                            <h1>Most Popular </h1>
                        </div>
                        <div class="title2">
                            <h2>Rigth Now</h2>
                        </div>                 
                    </div>
                    <div class="row1">
                        <div class="box1">
                            <div class="image">
                                <img class="image1" src="popular-01.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Fortnite</h3></b>
                                    <h4>Sandbox</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box1">
                            <div class="image">
                                <img class="image1" src="popular-02.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>PubG</h3></b>
                                    <h4>Battle S</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box1">
                            <div class="image">
                                <img class="image1" src="popular-03.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Dota2</h3></b>
                                    <h4>SteamX</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box1">
                            <div class="image">
                                <img class="image1" src="popular-04.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>CS-GO</h3></b>
                                    <h4>Legendary</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="box2">
                            <div class="image">
                                <img class="image1" src="popular-05.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Mini Craft</h3></b>
                                    <h4>Lengendary</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="image">
                                <img class="image1" src="popular-06.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Eagles Fly</h3></b>
                                    <h4>Matrix Games</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="image">
                                <img class="image1" src="popular-07.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Warface</h3></b>
                                    <h4>Max 3D</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                        <div class="box2"> 
                            <div class="image">
                                <img class="image1" src="popular-08.jpg" alt="">
                            </div>
                            <div class="names">
                                <div class="name">
                                    <b><h3>Warcraft</h3></b>
                                    <h4>Legend</h4>
                                </div>
                                <div class="name1">
                                    <i class="fa-solid fa-star"></i><span>4.8</span><br>
                                    <i class="fa-solid fa-download"></i><span>2.3M</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                            <a href="#">Discover Popular</a>
                    </div>
                </div>
                <div class="div3">
                    <div class="title">
                        <div class="title1">
                            <h1>Your Gaming</h1>
                        </div>
                        <div class="title2">
                            <h2> Library</h2>
                        </div>                 
                    </div>
                    <div class="l1">
                        <div class="left">
                            <div class="left1">
                                <img class="left1p" src="j1.jpg" alt="">
                            </div>
                            <div class="left1">
                                <h3>Dota 2</h3>
                                <span>Sandbox</span>
                            </div>
                        </div>
                        <div class="center">
                            <ul>
                                <li>
                                    <h3>Date Added</h3>
                                    <span>24/08/2036</span>
                                </li>
                                <li>
                                    <h3>Hours Played</h3>
                                    <span>634 H 22 Mins</span>
                                </li>
                                <li>
                                    <h3>Currently</h3>
                                    <span>Downloaded</span>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <a href="#">Downloaded</a>
                        </div>
                    </div>
                    <div class="l2">
                        <div class="left">
                            <div class="left1">
                                <img class="left1p" src="j2.jpg" alt="">
                            </div>
                            <div class="left1">
                                <h3>Fortnite</h3>
                                <span>Sandbox</span>
                            </div>
                        </div>
                        <div class="center">
                            <ul>
                                <li>
                                    <h3>Date Added</h3>
                                    <span>25/06/2036</span>
                                </li>
                                <li>
                                    <h3>Hours Played</h3>
                                    <span>740 H 52 Mins</span>
                                </li>
                                <li>
                                    <h3>Currently</h3>
                                    <span>Downloaded</span>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <a href="#">Downloaded</a>
                        </div>
                    </div>
                    <div class="l3">
                        <div class="left">
                            <div class="left1">
                                <img class="left1p" src="j3.jpg" alt="">
                            </div>
                            <div class="left1">
                                <h3>CS-GO</h3>
                                <span>Sandbox</span>
                            </div>
                        </div>
                        <div class="center">
                            <ul>
                                <li>
                                    <h3>Date Added</h3>
                                    <span>21/04/2036</span>
                                </li>
                                <li>
                                    <h3>Hours Played</h3>
                                    <span>892 H 14 Mins</span>
                                </li>
                                <li>
                                    <h3>Currently</h3>
                                    <span>Downloaded</span>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <a href="#">Downloaded</a>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="#">Discover Popular</a>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
F